<div class="container-about">
    <div class="header">
        <h1 class="about">About Us</h1>
        <p class ="about">We are a mobile car wash service dedicated to making your car shine.</p>
    </div>
    <div class="animation-wrapper">
        <div class="animation-text">
            <h2 class="about">Our Approach</h2>
            <p class="about">We believe in delivering top-notch car washing services right at your doorstep. Our experienced team uses eco-friendly products and modern techniques to ensure your car gets the care it deserves.</p>
        </div>
        <div class="animation-image">
            <img src="https://scontent.fsof8-1.fna.fbcdn.net/v/t39.30808-6/359814648_329289692762584_3747627565247261197_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=730e14&_nc_ohc=L7DH9TlSHkwAX-ClRgt&_nc_ht=scontent.fsof8-1.fna&oh=00_AfATtUoHpQPinaS2Pa6b_9D3_3Yx6RMH86dm6sYPbLTcGg&oe=64E98F09" alt="Mobile Car Wash">
        </div>
    </div>
    <div class="animation-wrapper">
        <div class="animation-image">
            <img src="https://plus.unsplash.com/premium_photo-1661368421663-13b2d8115241?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80" alt="Eco-Friendly">
        </div>
        <div class="animation-text">
            <h2 class="about">Eco-Friendly Approach</h2>
            <p class="about">We are committed to protecting the environment. Our cleaning solutions are biodegradable and safe for your vehicle and the planet. We aim to give you a sparkling clean car while minimizing our carbon footprint.</p>
        </div>
    </div>
</div>