<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="contact-card">
                <h4>Contact Us</h4>
                <div class="contact-info">
                    <p class="cp"><i class="fas fa-map-marker-alt"></i> Address: Saltney Ferry Road, Chester, United Kingdom</p>
                    <p class="cp">
                        <i class="fas fa-envelope"></i> Email: i.rstoyan63@gmail.com
                    </p>
                    <p class="cp"><i class="fas fa-phone"></i> Phone: +44 7395 229063</p>
                </div>
                <div class="work-hours">
                    <p class="cp"><i class="fas fa-clock"></i> Work Hours:</p>
                    <ul>
                        <li>Mon-Fri: 9:00 AM - 6:00 PM</li>
                        <li>Sat: 10:00 AM - 3:00 PM</li>
                        <li>Sun: Closed</li>
                    </ul>
                </div>
                <div class="social-icons">
                    <a href="https://www.facebook.com/profile.php?id=100070446660849" class="btn btn-secondary facebook-color" target="_blank"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://www.instagram.com/mobile_valeting_detailing/" class="btn btn-secondary instagram-color" target="_blank"><i class="fab fa-instagram"></i></a>
                    <a href="https://api.whatsapp.com/send?phone=+447395229063&text=Hello" class="btn btn-secondary whatsapp-color" target="_blank"><i class="fab fa-whatsapp"></i></a>
                    <a href="#" class="btn btn-secondary tiktok-color" target="_blank"><i class="fab fa-tiktok"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
