<div class="jumbotron">
    <div class="container">
        <h1>Welcome to I-R Mobile Valeting & Detailing</h1>
        <p>Your one-stop solution for professional car washing and detailing services.</p>
    </div>
</div>

<div class="container">
    <div class="row feature-boxes">
        <div class="col-md-6 feature-box-container">
            <div class="feature-box">
                <h2>Our Services</h2>
                <p>Experience the best car cleaning services from our experts. We offer a range of services to keep your car shining.</p>
                <div class="btn-container">
                    <div class="btn-wrapper">
                        <a asp-controller="Home" asp-action="About" class="btn">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 feature-box-container">
            <div class="feature-box">
                <h2>Contact Us</h2>
                <p>Have any questions or want to book our services? Contact us today and we'll be happy to assist you.</p>
                <div class="btn-container">
                    <div class="btn-wrapper">
                        <a asp-controller="Home" asp-action="Contact" class="btn">Contact Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
