.container-about {
    max-width: 960px;
    margin: 0 auto;
    padding: 40px;
}

.header h1 {
    font-size: 36px;
}

.animation-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.animation-text {
    flex: 1;
    padding: 20px;
}

    .animation-text h2 {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .animation-text p {
        font-size: 16px;
        line-height: 1.6;
    }

.animation-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

    .animation-image img {
        max-width: 100%;
        height: auto;
    }

    .animation-image:hover {
        transform: scale(1.1);
    }

/* New styles for service cards */
.service-cards {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.service-card {
    background-color: #2E8AA1;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    color: white;
    text-align: center;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
    cursor: pointer;
}

    .service-card:hover {
        background-color: #296AC8;
        transform: scale(1.05);
    }

.contact-section {
    background-color: #3B218A;
    color: white;
    text-align: center;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

    .contact-section a {
        color: #E800B9;
        text-decoration: none;
        transition: color 0.3s ease-in-out;
    }

        .contact-section a:hover {
            color: white;
        }

.about{
    color: rgba(255,255,255,.6) !important;
}
