.card {
    transition: transform 0.3s, box-shadow 0.3s;
}

    .card:hover {
        transform: scale(1.05);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

        /* Apply animations to the elements within the card on hover */
        .card:hover .animate__animated {
            animation: animate__rubberBand 0.5s;
        }

/* Define the keyframes for the rubberBand animation */
@@keyframes animate__rubberBand {
    0% {
        transform: scale3d(1, 1, 1);
    }

    30% {
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        transform: scale3d(0.95, 1.05, 1);
    }

    75% {
        transform: scale3d(1.05, 0.95, 1);
    }

    100% {
        transform: scale3d(1, 1, 1);
    }
}
