.card {
    transition: transform 0.3s, box-shadow 0.3s;
    background: linear-gradient(45deg, #F000A4, #2E8AA1, #3B218A);
    width: auto
}

    .card:hover {
        transform: scale(1.05);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

        /* Apply animations to the elements within the card on hover */
        .card:hover .animate__animated {
            animation: animate__rubberBand 0.5s;
        }

h5, h2, p, strong {
    color: rgba(255,255,255,.8);
}

.card {
    margin: 0;
    padding: 0;
}

/* Add padding to the card content */
.card-body {
    padding: 20px;
}

.option-text {
    text-align: center;
    font-size: 20px;
    color: rgba(255,255,255,.8);
    font-weight: bold;
    margin-top: 20px;
}
